@media only screen and (max-width: 600px){
*{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

html, body{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.uw_widget_container,
.uw_widget_container.left,
.uw_widget_container.right{
    position: fixed;
    top: unset;
    bottom: -100%;
    right: unset;
    left: unset;
    width: 100%;
    height: 100%;
    transition: 500ms;
    z-index: 999;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.uw_widget_container.uw_widget_open,
.uw_widget_container.left.uw_widget_open,
.uw_widget_container.right.uw_widget_open{
    left: unset;
    right: unset;
    bottom: 0%;
}
.uw_widget_tabs_container{
    transition: 500ms;
}
.uw_widget_container .uw_widget_tabs_container,
.uw_widget_container.left .uw_widget_tabs_container,
.uw_widget_container.right .uw_widget_tabs_container{
    position: absolute;
    top: -48px;
    left: unset;
    right: unset;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.uw_widget_container.uw_widget_open .uw_widget_tabs_container{
    left: unset;
    right: unset;
    top: calc(100% - 48px);
    z-index: 999;
}
.uw_widget_container .uw_widget_content_container,
.uw_widget_container.left .uw_widget_content_container,
.uw_widget_container.right .uw_widget_content_container{
    position: absolute;
    left: unset;
    right: unset;
    top:0px;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
}


.uw_widget_tab{
    width: auto;
    height: 48px;
    display: flex;
    background-color: #999;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    color: whitesmoke;
    cursor: pointer;
    transition: 500ms;
    flex-grow: 1;
}
.uw_widget_tab > span{
    transition: 500ms;
}
.uw_widget_tab:not(.uw_widget_tab_focused):hover > span{
    transform: rotate(14deg) scale(1.2);
}
.uw_widget_tab:last-of-type{
    margin-bottom: 0px;
}
.uw_widget_close_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    width: 48px;
    height: 48px;
    background: none;
    color: #fff;
    font-weight: 600;
    top: 0px;
    right: 0px;
    cursor: pointer;
    transition: 500ms;
    z-index: 999;
}
.uw_widget_close_btn:hover{
    transform: rotate(90deg);
}
.uw_widget_content{
    height: 100%;
    padding-bottom: 0px;
    width: 100%;
    display: none;
}
.uw_widget_content > .uw_widget_content_title{
    padding: 12px;
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
}
.uw_widget_content_content{
    padding: 1rem;
}
.uw_widget_chatgo_content{
    border:none;
    width: 100%;
    height: calc(100% - 92px);
}

}