.uw_widget_container,
.uw_widget_container.left{
    position: fixed;
    top: 25%;
    right: unset;
    left: 0%;
    width: 0px;
    height: 0px;
    transition: 500ms;
    z-index: 99999999;
}
.uw_widget_container.uw_widget_open,
.uw_widget_container.left.uw_widget_open{
    left: 25vw;
    right: unset;
}
.uw_widget_container .uw_widget_tabs_container,
.uw_widget_container.left .uw_widget_tabs_container{
    position: absolute;
    left: 0px;
    right: unset;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}
.uw_widget_container .uw_widget_content_container,
.uw_widget_container.left .uw_widget_content_container{
    position: absolute;
    left: unset;
    right: 0px;
    width: 25vw;
    height: 60vh;
    background: #fff;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
}

.uw_widget_container.right{
    left: unset;
    right: 0%;
}
.uw_widget_container.right.uw_widget_open{
    left: unset;
    right: 25vw;
}
.uw_widget_container.right .uw_widget_tabs_container{
    left: unset;
    right: 0%;
}
.uw_widget_container.right .uw_widget_content_container{
    left: 0%;
    right: unset;
}


.uw_widget_tab{
    width: 48px;
    height: 48px;
    display: flex;
    background-color: #999;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    color: whitesmoke;
    cursor: pointer;
    transition: 500ms;
}
.uw_widget_tab > span{
    transition: 500ms;
}
.uw_widget_tab:not(.uw_widget_tab_focused):hover > span{
    transform: rotate(14deg) scale(1.2);
}
.uw_widget_tab:last-of-type{
    margin-bottom: 0px;
}
.uw_widget_close_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    width: 48px;
    height: 48px;
    background: none;
    color: #fff;
    font-weight: 600;
    top: 0px;
    right: 0px;
    cursor: pointer;
    transition: 500ms;
    z-index: 999;
}
.uw_widget_close_btn:hover{
    transform: rotate(90deg);
}
.uw_widget_content{
    height: 100%;
    padding-bottom: 0px;
    width: 100%;
    display: none;
}
.uw_widget_content > .uw_widget_content_title{
    padding: 12px;
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
}
.uw_widget_content_content{
    padding: 0px;
    width: 100%;
    height: calc(100% - 48px);
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
.uw_widget_chatgo_content{
    border:none;
    width: 100%;
    height: calc(100% - 42px);
}
.uw_ca_item .ca-item-ae-widget{
    position: relative;
    padding-top: 12px;
    bottom: 0px;
    right: 0px;
}
.ca-default-message{
    padding: 12px;
}